* {
  box-sizing: border-box;
  padding: 0px;
  margin-left: 0px;
  margin-top: 0px;
  background-color:rgb(62, 151, 157);
  font-family: 'Josefin Sans', sans-serif;
}

.main_div {
  width: auto;
  height: 100vh;
  display: flex;
  background: teal;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 8px 8px 8px 8px; */
}

.center_div {
  width: 30%;
  height: 20vh;
  background-color:steelblue;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius:1px;
  margin: 8px 8px 8px 8px;
}

h1 {
  color:black;
  text-shadow: 0px 2px 2px black;
  padding: 5px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  text-align: center;
}

input {
  text-align: center;
  height: 30px;
  top: 10px;
  border:rgba(248, 248, 248, 0.5) 1.5px solid;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: auto;
  /* border-bottom: 3px solid slateblue; */
  outline: none;
  color: black;
}

button, input, optgroup, select, textarea {
  margin-bottom: 5px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 4px;
  width: auto;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.searchbar {
  width: 30%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  color: black;
  background-color: snow;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.welcome-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin: 8px 8px 8px 8px;
}


.login-button:hover {
  background-color: #0069d9;
}


.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.connected-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.connected-button:hover {
  background-color: #0069d9;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
}


.candidates-table {
  border-collapse: collapse;
  width: 50%;
  text-align:center;
}

.candidates-table th, .candidates-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.candidates-table th {
  background-color: #f2f2f2;
}

input[type=number] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}

.searchbar input {
  margin: 30px 0;
  padding: 5px 10px;
  border-color: tomato;
  border-radius: 5px;
  font-family:'Times New Roman', Times, serif;
}

button {
  min-height: 10px;
  padding: 5px 0 5px 0;
  width:fit-content;
  border-color: transparent;
  background-color:gray;
  color:white;
  font-size: 15px;
  border: none;
  outline: none;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover {
  color:#16a085;
  background-color:sandybrown;
}

.active_class {
  color: red;
}

.active_class:hover {
  color: green;
}

ol {
  margin-top: 30px;
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color:black;
  text-transform: capitalize;
}

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orchid;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_style .fa-times:hover {
  background-color: red;
}

.deleteIcon {
  min-height: 25px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  color:black;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
}

.deleteIcon:hover {
  color:red;
  background-color:blue; 
}

@media (max-width: 768px) {
  .center_div {
    width: 55%;
  }

  .todo_style .fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: aliceblue;
    font-size: 30px;
  }

}

